body {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    background-color: #EFEFEF;
}

.container {
    width: 786px;
    height: 1040px;
    padding-top: 34px;
    margin: auto;
    background-color: white;
    border-radius: 1.6%;
}

hr {
    width: 628px; 
}

.intro h1 {
    font-family: clarendon-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    color: #9BBC87;
    margin-top: 16px;
    margin-bottom: 12px;
}

.intro-instructions {
    display: flex;
    margin-top: -10px;
    margin-bottom: 10px;
}

.intro-instructions p {
    font-size: 20px;
    color: #707070;
    padding-left: 78px;
    width: 400px;
}

.intro-instructions img {
    width: 126px;
    height: 126px;
    margin-top: 10px;
    margin-left: 122px;
}

a {
    text-decoration: none;
}

.new-button {
    font-weight: 400;
    font-size: 19.5px;
    text-align: center;
    padding: 10px 20px;
    width: 170px;
    height: 25px;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
}

.new-button:hover {
    cursor: pointer;
}

.yellow-button {
    color:#CBD08A;
    border-color: #CBD08A;
}

.yellow-button:hover {
    color: #FEFFEF;
    background-color: #CBD08A;
    border-color: #CBD08A;
}

.green-button {
    color:#9BBC87;
    border-color: #9BBC87;
    margin-left: 46px;
}

.green-button:hover {
    color: #F5FFEF;
    background-color: #9BBC87;
    border-color: #9BBC87;
}

.blue-button {
    color:#86BCBF;
    border-color: #86BCBF;
}

.blue-button:hover {
    color: #EDFEFF;
    background-color: #86BCBF;
    border-color: #86BCBF;
}

.room1 {
    display: flex;
    margin: auto;
    padding-left: 78px;
    padding-right: 78px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 24px;
    background-color: #FEFFEF;
}

.room1-descrip {
    margin-left: 30px;
}

.room1-descrip p{
    font-weight: 300;
    font-size: 18px;
    padding-top: 3px;
}

.room1 img {
    height: 227px;
}

.room2 {
    display: flex;
    margin: auto;
    padding-left: 78px;
    padding-right: 78px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 24px;
    background-color: #F5FFEF;
}

.room2-descrip {
    margin-right: 30px;
}

.room2-descrip p {
    font-weight: 300;
    font-size: 18px;
    width: 260px;
    text-align: right;
    padding-top: 4px;
}

.room2 img {
    height: 227px;
}

.room3 {
    display: flex;
    margin: auto;
    padding-left: 78px;
    padding-right: 78px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EDFEFF;
}

.room3-descrip {
    margin-left: 30px;
}

.room3-descrip p{
    font-weight: 300;
    font-size: 18px;
    padding-top: 4px;
}

.room3 img {
    height: 227px;
    position: relative;
}

.round-button {
    position: absolute;
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.round-button:hover {
    cursor: pointer;
    background-color: #707070;
}

#button1 {
    top: 326px;
    left: 480px;
}

#button2 {
    top: 406px;
    left: 270px;
}

#button3 {
    top: 570px;
    left: 358px;
}

#button4 {
    top: 376px;
    left: 401px;
}

#button5 {
    top: 615px;
    left: 335px;
}

#button6 {
    top: 542px;
    left: 147px;
}

#button7 {
    top: 534px;
    left: 249px;
}

#button8 {
    top: 433px;
    left: 440px;
}

#button9 {
    top: 600px;
    left: 380px;
}

.fadeout{
    visibility: hidden;
    position: fixed;
    left:0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); 
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1.5px solid;
    border-radius: 2.5%;
    width: 350px;
    height: 500px;
    position: absolute;
    top: 140px;
    left: 200px;
    visibility: hidden;
    z-index: 200;
}

.modal-content img {
    width: 110px;
    margin: auto;
    position: absolute;
    left: 141px;
    top: 120px;
}

.modal-content h1 {
    text-align: center;
    padding-top: 40px;
    margin-top: 180px;
    margin-bottom: 0px;
}

.modal-content p {
   text-align: center;
    width: 240px;
    position: absolute;
    left: 76px;
}

.visible {
    visibility: visible!important;
}

.close {
    color: #707070;
    font-size: 30px;
    font-weight: 300px;
    float: right;
    cursor: pointer;
}

.close: hover,
.close: focus {
    color: #E6E6E6;
    text-decoration: none;
}

.citation p {
    color: lightgray;
    font-size: 14px;
    font-weight: 300px;
    margin-top: 18px;
    padding-left: 78px;
}