body {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
}

.container {
    width: 1024px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.intro h1 {
    font-family: clarendon-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    color: #D1E580;
    margin-bottom: -5px;
}

.intro-instructions {
    display: flex;
    margin-bottom: 25px;
}

.intro-instructions p {
    font-size: 26px;
    color: #707070;
    padding-left: 95px;
    padding-right:
    padding-bottom: 15px;
    width: 500px;
}

.intro-instructions img {
    width: 123px;
    height: 128px;
    margin-top: 30px;
    margin-left: 215px;
}

/*
.button {
    background-color: #FFFFFF;
    border: 2px solid #707070;      
    border-radius: 8px;
    text-align: center;
    font-size: 19.5px;
    color: #707070;
    width: 221px;
    height: 62.4px;
}
*/

a {
    text-decoration: none;
}

.new-button {
    font-weight: 400;
    font-size: 19.5px;
    text-align: center;
    padding: 10px 20px;
    width: 170px;
    height: 25px;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
}

.new-button:hover {
    cursor: pointer;
}

.yellow-button {
    color:#CBD08A;
    border-color: #CBD08A;
}

.yellow-button:hover {
    color: #FEFFEF;
    background-color: #CBD08A;
    border-color: #CBD08A;
}

.green-button {
    color:#9BBC87;
    border-color: #9BBC87;
    margin-left: 124px;
}

.green-button:hover {
    color: #F5FFEF;
    background-color: #9BBC87;
    border-color: #9BBC87;
}

.blue-button {
    color:#86BCBF;
    border-color: #86BCBF;
}

.blue-button:hover {
    color: #EDFEFF;
    background-color: #86BCBF;
    border-color: #86BCBF;
}

.room1 {
    display: flex;
    margin: auto;
    padding-left: 95px;
    padding-right: 94px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 24px;
    background-color: #FEFFEF;
}

.room1-descrip {
    margin-left: 50px;
}

.room1-descrip p{
    font-weight: 300;
    font-size: 23.5px;
}

.room1 img {
    height: 296px;
}

.room2 {
    display: flex;
    margin: auto;
    padding-left: 95px;
    padding-right: 94px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 24px;
    background-color: #F5FFEF;
}

.room2-descrip {
    margin-right: 50px;
}

.room2-descrip p {
    font-weight: 300;
    font-size: 23.5px;
}

.room2 img {
    height: 296px;
}

.room3 {
    display: flex;
    margin: auto;
    padding-left: 95px;
    padding-right: 94px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 24px;
    background-color: #EDFEFF;
}

.room3-descrip {
    margin-left: 50px;
}

.room3-descrip p {
    font-weight: 300;
    font-size: 23.5px;
}

.room3 img {
    height: 296px;

}